@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black-color: #222;
  --white-color: #ccc;
  --grey-color: #555;
  --green-color: green;
  --light-green-color: seagreen;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  width: 300px;
}


/* Wrapper App rules */
div.App {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  font-size: 16px;
}


/* nav styles */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
  padding-bottom: 0px; 
}

.nav h1 {
  font-family: 'Squada One';
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-green-color);
}

.nav h1 span {
  font-family: 'Squada One';
  color: var(--white-color);
}

.nav h1 span:nth-child(1) {
  font-size: 0.8em;
}

/* nav links styles */
.nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 12px;
  padding: 15px;
  padding-bottom: 0px;
}

.nav .nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: var(--grey-color);
  color: var(--white-color);
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav .nav-links a.start-page {
  background-color: var(--white-color);
  color: var(--black-color);
}

.nav .nav-links a:hover {
  opacity: 0.8;
}


/* Main contents rules */
main.contents {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 98%;
  min-height: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--white-color);
}


/* The about page */
.contents .avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.avatar-img img{
  border: 5px solid var(--light-green-color);
}

.github-name {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: var(--black-color);
}

.github-bio {
  width: 90%;
  font-size: 1.7em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
}

.github-bio span {
  display: block;
  margin: 10px;
}

.about .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.3em;
}

.boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 170px;
  margin: 10px;
  padding: 5px;
  border: 5px solid var(--light-green-color);
}

.box span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  width: 100%;
  text-align: center;
  color: var(--black-color);
}

.box span:nth-child(1) {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.box:hover span a {
  border-bottom: 2px solid var(--black-color);
}


/* IsPending page styles */
.pending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}

.pending span:first-child {
  font-size: 2.5em;
}


/* The repositories page */
.repos .repo {
  display: flex;
  flex-direction: column;

  width: 60%;
  min-height: 200px;
  margin: 0 auto;
  background-color: var(--light-green-color);
  color: var(--white-color);
  border: 2px solid var(--green-color);
  box-shadow: 1px 2px 2px var(--black-color);
  transition: transform 0.5s;
  cursor: pointer;
}

.repos .repo:not(:first-child) {
  margin-top: 30px;
}

.repo:hover {
  transform: scale(1.05);
}

.repo > div {
  flex: 1;
  width: 100%;
  padding: 10px;
}

.repo-header, .repo-body, .repo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repo-header .repo-fullname p{
  padding: 2px 5px 2px 5px;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--white-color);
  color: var(--black-color);
}

.repo-body .repo-description {
  text-align: center;
}

.repo-footer {
  flex-direction: row;
  justify-content: center;
}

.repo-footer .repo-footer-span {
  margin: 5px;
  padding: 5px;
  font-size: 0.9em;
  background-color: var(--black-color);
}

.repo-footer .languages {
  background-color: var(--grey-color);
}

.repo-footer .repo-footer-span:not(:last-child) {
  margin-right: 10px;
}

.repo-footer-span a {
  color: var(--white-color);
}


.repo-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 5px;
  margin-top: 30px;
}

.repo-pagination .previous-section, .repo-pagination .next-section {
  padding: 20px;
  font-size: 2em;
  background-color: var(--black-color);
  cursor: pointer;
}

.repo-pagination .previous-section {
  background-color: var(--grey-color);
}


/* General styles for single-repo-page, error-boundary page and not-found page */
.error-boundary-view, .not-found-page, .single-repo-page {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  width: 100%;
  height: 100vh;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--white-color);
}

.single-repo-page .not-found-page {
  font-size: 1em;
}

/* styles for single repo page */
.single-repo-page .close-single-repo-page {
  position: fixed;
  top: 10px;
  left: 15px;
  font-size: 1.5em;
}

.single-repo-page .repo:hover {
  transform: scale(1);
}

.single-repo-page .repo-footer .repo-footer-span:first-child {
  color: var(--white-color);
}

.single-repo-page .repo-footer .go-to-github, .single-repo-page .repo-footer .preview-website {
  border: 2px solid var(--green-color);
  background-color: var(--light-green-color);
}


/* Error-boundary page and Not-found page styles */
.error-boundary-view span:first-child, .not-found-page span:first-child {
  font-size: 2.5em;
}

.error-boundary-view a, .not-found-page a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8em;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  border: 2px solid var(--green-color);
  background-color: var(--light-green-color);
  color: var(--white-color);
  cursor: pointer;
}

.not-found-page a:not(:first-child) {
  margin-top: 20px;
}




/* Responsive CSS */
@media screen and (max-width: 960px) {
  .repos .repo {
    width: 80%;
  }
}

@media screen and (max-width: 860px) {
  .repos .repo {
    width: 90%;
  }
}

@media screen and (max-width: 763px) {
  .github-bio {
    width: 100%;
  }

  .boxes .box {
    width: 450px;
  }

  .repos .repo {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .repo-header .repo-fullname p{
    font-size: 1.3em;
  }

  .repo-footer .repo-footer-span {
    font-size: 0.8em;
  }

  .repo-footer .repo-footer-span {
    margin: 0px;
  }

  .repo-footer {
    justify-content: space-evenly;
  }

  .repo-footer .repo-footer-span:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 580px) {
  .nav h1 {
    font-size: 3.5em;
  }

  main.contents {
    padding: 5px;
    padding-top: 20px;
  }

  .github-bio {
    font-size: 1.6em;
  }

  .repo:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 510px) {
  .nav h1 {
    font-size: 3em;
  }

  .github-name {
    font-size: 2.7em;
  }

  .github-bio {
    font-size: 1.5em;
  }

  .repo > div {
    padding: 5px;
  }

  .repo-footer .repo-footer-span {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 475px) {
  .nav h1 {
    font-size: 2.5em;
  }

  main.contents {
    padding-top: 20px;
  }

  .github-name {
    font-size: 2.3em;
  }

  .github-bio {
    font-size: 1.3em;
  }

  .boxes .box {
    width: 100%;
  }

  .repo-header .repo-fullname p{
    font-size: 1em;
  }

  .repo-pagination {
    justify-content: space-between;
  }
}

@media screen and (max-width: 380px) {
  .nav h1 {
    font-size: 2.2em;
  }

  .nav .nav-links a {
    font-size: 0.9em;
  }

  .github-name {
    font-size: 2.1em;
  }

  .about .boxes {
    font-size: 1.1em;
  }

  .single-repo-page .repo-footer {
    flex-direction: column;
  }

  .single-repo-page .repo-footer .repo-footer-span:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 340px) {
  img {
    width: 100%;
  }

  .box span:nth-child(1) {
    text-align: center;
  }
}