@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black-color: #222;
  --white-color: #ccc;
  --grey-color: #555;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  width: 300px;
}


/* Wrapper App rules */
div.App {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  font-size: 16px;
}


/* nav styles */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
  padding-bottom: 0px; 
}

.nav h1 {
  font-family: 'Squada One';
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: seagreen;
}

.nav h1 span {
  font-family: 'Squada One';
  color: #eee;
}

.nav h1 span:nth-child(1) {
  font-size: 0.8em;
}

/* nav links styles */
.nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 12px;
  padding: 15px;
  padding-bottom: 0px;
}

.nav .nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: var(--grey-color);
  color: var(--white-color);
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav .nav-links a.start-page {
  background-color: var(--white-color);
  color: var(--black-color);
}

.nav .nav-links a:hover {
  opacity: 0.8;
}


/* Main contents rules */
main.contents {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 98%;
  min-height: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ccc;
}


/* The about page */
.contents .avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.avatar-img img{
  border: 5px solid seagreen;
}

.github-name {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #222;
}

.github-bio {
  width: 90%;
  font-size: 1.7em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
}

.github-bio span {
  display: block;
  margin: 10px;
}

.about .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.3em;
}

.boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 170px;
  margin: 10px;
  padding: 5px;
  border: 5px solid seagreen;
}

.box span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  width: 100%;
  text-align: center;
  color: #222;
}

.box span:nth-child(1) {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.box:hover span a {
  border-bottom: 2px solid #222;
}


/* IsPending page styles */
.pending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}

.pending span:first-child {
  font-size: 2.5em;
}