@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black-color: #222;
  --white-color: #ccc;
  --grey-color: #555;
  --green-color: green;
  --light-green-color: seagreen;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  width: 300px;
}


/* Wrapper App rules */
div.App {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  font-size: 16px;
}


/* nav styles */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
  padding-bottom: 0px; 
}

.nav h1 {
  font-family: 'Squada One';
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-green-color);
}

.nav h1 span {
  font-family: 'Squada One';
  color: var(--white-color);
}

.nav h1 span:nth-child(1) {
  font-size: 0.8em;
}

/* nav links styles */
.nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 12px;
  padding: 15px;
  padding-bottom: 0px;
}

.nav .nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: var(--grey-color);
  color: var(--white-color);
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav .nav-links a:first-child {
  border-top-left-radius: 5px;
}

.nav .nav-links a:last-child {
  border-top-right-radius: 5px;
}

.nav .nav-links a.start-page {
  background-color: var(--white-color);
  color: var(--black-color);
}

.nav .nav-links a:hover {
  opacity: 0.8;
}


/* Main contents rules */
main.contents {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 98%;
  min-height: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--white-color);
}

main.contents > div {
  width: 100%;
  height: 100%;
}


/* The about page */
.contents .avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.avatar-img img{
  border: 5px solid var(--light-green-color);
}

.github-name {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: var(--black-color);
}

.github-bio {
  width: 90%;
  font-size: 1.7em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
}

.github-bio span {
  display: block;
  margin: 10px;
}

.about .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.3em;
}

.boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 170px;
  margin: 10px;
  padding: 5px;
  background-color: var(--light-green-color);
  border-radius: 10px;
  border-bottom: 6px solid rgb(26, 84, 51);
  border-left: 2px solid rgb(26, 84, 51);
  cursor: pointer;
  position: relative;
}

.box p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  width: 100%;
  text-align: center;
}

.boxes .box:nth-child(1) p:nth-child(1) span:nth-child(1) {
  position: relative;
  top: -6px;
}

.box p:nth-child(1) span:nth-child(1) {
  margin-right: 5px;
  padding: 1px;
}

.box p:nth-child(1) span:nth-child(2) {
  color: var(--black-color);
}

.box p:nth-child(1) {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.box p:nth-child(2) {
  color: var(--white-color);
}

.box:not(:last-child):hover {
  top: 3px;
  border-bottom-width: 3px;
}

.box:not(:last-child):hover p:nth-child(1) span:nth-child(2) {
  text-decoration: underline;
}


/* IsPending page styles */
.pending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}

.pending span:first-child {
  font-size: 2.5em;
}


/* The repositories page */
.repos {
  width: 100%;
}

.repos .repo {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50%;
  min-height: 250px;
  padding: 10px;
  margin: 0 auto;
  color: var(--white-color);
  
  background-color: var(--light-green-color);
  border-radius: 10px;
  border-bottom: 6px solid rgb(26, 84, 51);
  border-left: 2px solid rgb(26, 84, 51);
  cursor: pointer;

  position: relative;
}


.repos .repo:not(:first-child) {
  margin-top: 30px;
}

.repo:hover {
  top: 3px;
  border-bottom-width: 3px;
}

.repo > div {
  /* flex: 1; */
  width: 100%;
  padding: 10px;
}

.repo-header, .repo-body, .repo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repo-header .repo-fullname p{
  padding: 2px 5px 2px 5px;
  font-size: 1.3em;
  text-align: center;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 2px;
}

.repo-body .repo-description {
  text-align: center;
}

.repos .repo-body .repo-description {
  line-height: 22px;
}

.repo-body .repo-description span {
  font-size: 1.7em;
}

.repo-pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 5px;
  margin-top: 30px;
}

.repo-pagination .previous-section, .repo-pagination .next-section {
  padding: 20px;
  font-size: 2em;
  border-radius: 10px;
  border-bottom: 6px solid rgb(59, 59, 59);
  border-left: 2px solid rgb(59, 59, 59);
  cursor: pointer;
  position: relative;
}

.repo-pagination .next-section {
  background-color: var(--black-color);
}

.repo-pagination .previous-section {
  background-color: var(--grey-color);
}

.repo-pagination .next-section:hover, .repo-pagination .previous-section:hover {
  top: 3px;
  border-bottom-width: 3px;
}



/* General styles for single-repo-page, error-boundary page and not-found page */
.error-boundary-view, .not-found-page, .single-repo-page {
  position: fixed;
  top: 0;
  left: 0;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--white-color);
  padding: 0px 20px 0px 20px;
}

.single-repo-page .not-found-page {
  font-size: 1em;
}

/* styles for single repo page */
.single-repo-page .close-single-repo-page {
  position: fixed;
  top: 10px;
  left: 15px;
  font-size: 1.2em;
}

.single-repo-page .repo-description {
  width: 80%;
}

.single-repo-page .repo-footer {
  flex-direction: row;
  justify-content: center;
}

.single-repo-page .repo-footer .repo-footer-span {
  margin: 5px;
  padding: 5px;
  font-size: 0.9em;
  background-color: var(--black-color);
}

.single-repo-page .repo-footer .languages {
  background-color: var(--grey-color);
}

.single-repo-page .repo-footer .repo-footer-span:not(:last-child) {
  margin-right: 10px;
}

.single-repo-page .repo-footer-span a {
  color: var(--white-color);
}

.single-repo-page .repo-footer .repo-footer-span:first-child {
  color: var(--white-color);
}

.single-repo-page .repo-footer .go-to-github, .single-repo-page .repo-footer .preview-website {
  background-color: var(--light-green-color);
  border-radius: 10px;
  border-bottom: 6px solid rgb(26, 84, 51);
  border-left: 2px solid rgb(26, 84, 51);
  cursor: pointer;
  position: relative;
}

.single-repo-page .repo-footer .go-to-github:hover, .single-repo-page .repo-footer .preview-website:hover {
  top: 3px;
  border-bottom-width: 3px;
}


/* Error-boundary page and Not-found page styles */
.error-boundary-view span:first-child, .not-found-page span:first-child {
  font-size: 2.5em;
}

.error-boundary-view button, .not-found-page a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8em;
  border: none;
  border-radius: 10px;
  border-bottom: 6px solid rgb(26, 84, 51);
  border-left: 2px solid rgb(26, 84, 51);
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  background-color: var(--light-green-color);
  color: var(--white-color);
  cursor: pointer;
  position: relative;
}

.error-boundary-view button:hover, .not-found-page a:hover {
  top: 3px;
  border-bottom-width: 3px;
}

.not-found-page a:not(:first-child) {
  margin-top: 20px;
}
