/* Responsive CSS */
@media screen and (max-width: 1000px) {
  .repos .repo {
    width: 65%;
  }
}

@media screen and (max-width: 860px) {
  .repos .repo {
    width: 75%;
  }
}

@media screen and (max-width: 763px) {
  .github-bio {
    width: 100%;
  }

  .boxes .box {
    width: 450px;
  }

  .repos .repo {
    width: 85%;
  }
}

@media screen and (max-width: 640px) {
  .repos .repo {
    width: 95%;
  }

  .repo-header .repo-fullname p{
    font-size: 1.2em;
  }

  .repo-footer .repo-footer-span {
    font-size: 0.8em;
  }

  .repo-pagination {
    justify-content: space-between;
  }
}

@media screen and (max-width: 580px) {
  .nav h1 {
    font-size: 3.5em;
  }

  main.contents {
    padding: 5px;
    padding-top: 20px;
  }

  .github-bio {
    font-size: 1.6em;
  }

  .repos .repo {
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .nav h1 {
    font-size: 3em;
  }

  .github-name {
    font-size: 2.7em;
  }

  .github-bio {
    font-size: 1.5em;
  }

  .repo > div {
    padding: 5px;
  }

  .single-repo-page .repo-description {
    width: 100%;
  }

  .single-repo-page .repo-footer .repo-footer-span {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 475px) {
  .nav h1 {
    font-size: 2.5em;
  }

  main.contents {
    padding-top: 20px;
  }

  .github-name {
    font-size: 2.3em;
  }

  .github-bio {
    font-size: 1.3em;
  }

  .boxes .box {
    width: 100%;
  }

  .repo-header .repo-fullname p{
    font-size: 1em;
  }

  .single-repo-page .repo-description {
    font-size: 0.85em
  }

  .single-repo-page .repo-footer .repo-footer-span {
    font-size: 0.57em;
  }
}

@media screen and (max-width: 380px) {
  .nav h1 {
    font-size: 2.2em;
  }

  .nav .nav-links a {
    font-size: 0.9em;
  }

  .github-name {
    font-size: 2.1em;
  }

  .about .boxes {
    font-size: 1.1em;
  }

  .single-repo-page .repo-header .repo-fullname p{
    font-size: 0.7em;
  }

  .single-repo-page .repo-description {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 340px) {
  img {
    width: 100%;
  }

  .box p:nth-child(1) {
    text-align: center;
  }

  .single-repo-page .repo-footer {
    flex-direction: column;
  }

  .single-repo-page .repo-footer .repo-footer-span:not(:first-child) {
    margin-top: 15px;
  }
}